/*
    POSICIONAMIENTO Y TAMAÑO
*/

.tarjeta {
    padding: 2%;
    width: 80%;
    height: auto;
    clip-path: circle(400px at center);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
}

h1 {
    font-variant: small-caps;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

#nombre {
    width: 100%;
    text-align: center;
    font-variant: small-caps;
    margin-bottom: 5%;
    padding-bottom: 1%;
}

.boton {
    margin:1%;
    font-weight: bold;
}

.txt_field {
    position: relative;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 28px;
    font-size: 16px;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 60%;
    left: 5px;
    transform: translateY(-70%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field .span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 0;
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
}

.txt_field input:focus~.span::before,
.txt_field input:valid~.span::before {
    width: 100%;
}

.proyectos {
    min-height: 100vh;
}

/*
    BORDES
*/

.tarjeta {
    border: 2px solid gray;
    border-radius: 20px;
}

#nombre {
    border-bottom: 3px solid white;
}

.boton {
    border: 1px solid gray;
}

.txt_field input {
    border: none;
}


/*
    COLORES
*/

.tarjeta {    
    background: rgba(123, 117, 117, 0.6);
    color:white;
}

.boton {
    background-color: rgba(77, 73, 73, 0.5);
    color:white;
}

.txt_field input {
    background: none;
}

.txt_field label {
    color: #616161;
}

.txt_field .span::before {
    background: grey;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    color: grey;
}

.proyectos {
    color:black;
    background:linear-gradient(to bottom, rgba(165, 136, 219, 0.7), rgb(35, 34, 34));
}
