/*
    POSICIONAMIENTO Y TAMAÑO
*/

* {
    box-sizing: border-box;
}

.tarjeta {
    padding: 2%;
    width: 80%;
    height: auto;
    clip-path: circle(400px at center);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
}

#nombre {
    width: 100%;
    text-align: center;
    text-transform:lowercase;
    font-variant: small-caps;
    margin-bottom: 5%;
    padding-bottom: 1%;
}

#nombre::first-letter {
    text-transform: uppercase;
}

.boton {
    margin:1%;
    font-weight: bold;
}

.eliminar {
    text-align: center;
}

.usuario {
    width: auto;
}

.txt_field {
    position: relative;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 28px;
    font-size: 16px;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 60%;
    left: 5px;
    transform: translateY(-70%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field .span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 0;
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
}

.txt_field input:focus~.span::before,
.txt_field input:valid~.span::before {
    width: 100%;
}

.guardar, .cancelar {
    margin: 1%;
}

.circulo {
    font-weight: bold;
    width: 35px;
    padding: 2%;
    text-align: center;
    height: 35px;
    margin-bottom: 2%;
}

.otro {
    font-size: 1.5rem;
    padding: 0;
}

.otro img {
    margin-bottom: 10px;
}

/*
    BORDES
*/

.tarjeta {
    border: 2px solid gray;
    border-radius: 20px;
}

#nombre {
    border-bottom: 3px solid white;
}

.boton {
    border: 1px solid gray;
}

.txt_field input {
    border: none;
}

.guardar, .cancelar {
    border: 1px solid gray;
}

.circulo {
    border-radius: 50%;
    border: 1px solid black;
}


/*
    COLORES
*/

.tarjeta {    
    background: rgba(123, 117, 117, 0.6);
    color:white;
}

.boton {
    background-color: rgba(77, 73, 73, 0.5);
    color:white;
}

.boton:hover {
    background-color: rgb(245, 239, 239);
    color:black;
    transition:all .3s;
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.75);
    outline:3px solid black;
}

.eliminar {
    background-color: rgba(221, 7, 7, .6);
}

.eliminar:hover {
    background-color: rgb(245, 239, 239);
    color: rgb(221,7,7);
}

.usuario {
    color:white;
}

.txt_field input {
    background: none;
}

.txt_field label {
    color: #616161;
}

.txt_field .span::before {
    background: grey;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    color: black;
}

.circulo {
    background-color: #813bff;
    color:white;
}

.otro {
    background-color: #637efa;
}