<div class="container tarea" (click)="mostrarDetalles()">
  <p id="nombre">{{tarea.nombre}}</p>

  <div id="dificultad" (click)="seleccionarDificultad()">
    <img src="assets/images/facil.png" width="30" height="30" *ngIf="tarea.dificultad==1" />
    <img src="assets/images/normal.png" width="30" height="30" *ngIf="tarea.dificultad==2" />
    <img src="assets/images/muy_dificil.png" width="30" height="30" *ngIf="tarea.dificultad==3" />
  </div>
  <ng-container *ngIf="dificultad">
    <select id="selectDif" #dificultad (change)="cambiarDificultad(dificultad.value)">
      <option value="1">Fácil</option>
      <option value="2">Normal</option>
      <option value="3">Difícil</option>
    </select>
  </ng-container>

  <svg id="prioridad"
    [ngClass]="{ muyBaja:tarea.prioridad==1, baja: tarea.prioridad == 2, media: tarea.prioridad == 3, alta: tarea.prioridad == 4, muyAlta: tarea.prioridad == 5}"
    xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-patch-exclamation-fill"
    viewBox="0 0 16 16">
    <path
      d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
  </svg>


  <div *ngIf="detalles">
    <div class="datos">
      <p>Dificultad: {{getDificultad()}}</p>
      <p>Prioridad: {{getPrioridad()}}</p>
    </div>
    <div class="usuarios">
      <app-usuario [usuario]="u" *ngFor="let u of tarea.usuarios" class="usuario"></app-usuario>
    </div>
    <div class="descripcion">
      <p>{{tarea.descripcion}}</p>
    </div>
    <div class="botones">
      <button class="btn boton eliminar" (click)="borrarTarea()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash"
          viewBox="0 0 16 16">
          <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
          <path fill-rule="evenodd"
            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
        </svg>
        Eliminar tarea</button>
    </div>
  </div>
</div>


