/*
    POSICIONAMIENTO Y TAMAÑO
*/

details summary > * { 
    display: inline;
}

.tarea {
    position: relative;
    width: 100%;
    margin-top:10%;
    margin-bottom: 7.5%;
    min-height: 55px;
}

#dificultad {
    position:absolute;
    bottom: 15px;
    right: 10px;
}

#nombre {
    margin-top:1rem;
}

#prioridad {
    position: absolute;
    bottom: -20px;
    right: 10px;
}

.usuarios {
    display: flex;
    width: 100%;
    justify-content: center;
}

.usuario {
    margin: 1%;
}

.datos {
    line-height: .5rem;
}

.botones {
    padding-bottom: 10px;
}

.boton {
    width: 100%;
    margin:1%;
    font-weight: bold;
}

.txt_field {
    position: relative;
}

.txt_field input, .txt_field textarea {
    width: 100%;
    padding: 0 5px;
    height: 28px;
    font-size: 16px;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 60%;
    left: 5px;
    transform: translateY(-70%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field .span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 0;
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label,
.txt_field textarea:focus~label,
.txt_field textarea:valid~label {
    top: -5px;
}

.txt_field input:focus~.span::before,
.txt_field input:valid~.span::before,
.txt_field textarea:focus~.span::before,
.txt_field textarea:valid~.span::before {
    width: 100%;
}

.circulo {
    font-weight: bold;
    width: 35px;
    padding: 2%;
    text-align: center;
    height: 35px;
    margin-bottom: 2%;
}

.nombres span {
    margin:auto 10px;
}

/*
    BORDES
*/

.tarea {
    border: 1px solid black;
    border-radius: 15px;
}

.boton {
    border: 1px solid gray;
}

.txt_field {
    border-bottom: 2px solid #616161;
}

.txt_field input, .txt_field textarea {
    border: none;
}

.circulo {
    border-radius: 50%;
    border: 1px solid black;
}

/*
    COLORES
*/
.tarea {
    background-color: #a9a0a0;
    color:black;
}

.boton {
    background-color: rgba(77, 73, 73, 0.5);
    color:white;
}

.eliminar {
    background-color: rgba(221, 7, 7, .6);
}

.txt_field input, .txt_field textarea {
    background: none;
}

.txt_field label {
    color: #616161;
}

.txt_field .span::before {
    background: grey;
}

.txt_field input:focus~label,
.txt_field input:valid~label,
.txt_field textarea:focus~label,
.txt_field textarea:valid~label {
    color: black;
}

.circulo {
    background-color: #813bff;
    color:white;
}

.obligatorio {
    color:rgb(221, 7, 7);
}