.tarea {
    position: relative;
    border: 1px solid black;
    width: 100%;
    margin-top:10%;
    margin-bottom: 7.5%;
    border-radius: 15px;
}
#dificultad {
    position:absolute;
    bottom: 15px;
    right: 10px;
}


#nombre {
    margin-top:1rem;
}

#prioridad {
    position: absolute;
    bottom: -20px;
    right: 10px;
    background-color: white;
}

svg.muyBaja {
    color: rgb(16, 160, 208);
}

svg.baja {
    color: rgb(0,194,1);
}

svg.media {
    color: rgb(255,219,0);
}

svg.alta {
    color: rgb(229,111,1);
}

svg.muyAlta {
    color: rgb(255, 41, 41);
}

.usuarios {
    display: flex;
    width: 100%;
    justify-content: center;
}

.usuario {
    margin: 1%;
}

.datos {
    font-size: small;
    line-height: .5rem;
}

.botones {
    padding-bottom: 10px;
}

.boton {
    border: 1px solid gray;
    margin:.5%;
    font-weight: bold;
    width: 90%;
}

.eliminar {
    background-color: rgb(221, 7, 7);
    color:white;
}

