<div class="container tarea">
  <ng-container *ngIf="editando; then thenBlock; else elseBlock"></ng-container>

  <ng-template #thenBlock>
    <div class="txt_field form-control mt-4 mb-2">
      <input type="text" required aria-label="Nombre de tarea" name="nombreEditar" #nombreEditar (keyup)="validarForm()"
        id="nombreEditar" value="{{tarea.nombre}}">
      <span class="span"></span>
      <label for="nombreEditar" class="control-label required">Nombre de tarea<span class='obligatorio'>*</span>
        <span class='obligatorio' *ngIf="errores && nombreEditar.value.trim() == ''">CAMPO OBLIGATORIO</span>
      </label>
    </div>
    <label for="dificultadEditar" class="mt-2">Dificultad</label>
    <select name="dificultadEditar" id="dificultadEditar" aria-label="seleccionar dificultad de tarea" class="form-select mb-2" #dificultadEditar
      value="{{tarea.dificultad}}">
      <option value="1">Fácil</option>
      <option value="2">Normal</option>
      <option value="3">Difícil</option>
    </select>
    <label for="prioridadEditar" class="mt-2">Prioridad</label>
    <select name="prioridadEditar" id="prioridadEditar" aria-label="seleccionar prioridad de tarea" class="form-select mb-2" #prioridadEditar
      value="{{tarea.prioridad}}">
      <option value="1">Muy baja</option>
      <option value="2">Baja</option>
      <option value="3">Normal</option>
      <option value="4">Alta</option>
      <option value="5">Muy alta</option>
    </select>

    <div class="txt_field form-control mt-4 mb-2">
      <textarea required aria-label="descripción de tarea" name="descripcionEditar" #descripcionEditar
        id="descripcionEditar" value="{{tarea.descripcion}}"></textarea>
      <span class="span"></span>
      <label for="descripcionEditar" class="control-label required">Descripción de tarea</label>
    </div>
    <button type="button" *ngIf="nombreEditar.value.trim()!=''" class="btn boton mt-2 mb-1"
      (click)="editar(nombreEditar.value, prioridadEditar.value, dificultadEditar.value, descripcionEditar.value)"
      #botonEditar aria-label="Guardar cambios">Guardar cambios</button>
    <button type="button" *ngIf="nombreEditar.value.trim()==''" class="btn boton mt-2 mb-1" (click)="crearErrores()"
      #botonEditar aria-label="Guardar cambios">Guardar cambios</button>
    <button type="button" class="btn eliminar boton mt-1 mb-2"
      (click)="cancelarEdicion(nombreEditar, prioridadEditar, dificultadEditar, descripcionEditar)"
      #botonEditar aria-label="Cancelar">Cancelar</button>
  </ng-template>

  <ng-template #elseBlock>
    <ng-container *ngIf="!asignando">

      



      <details #details >
        <summary>
          <h4 id="nombre">{{tarea.nombre}}</h4>
          <div id="dificultad">
            <img src="assets/images/facil.png" alt="Tarea con dificultad fácil" width="30" height="30" *ngIf="tarea.dificultad==1" />
            <img src="assets/images/normal.png" alt="Tarea con dificultad normal"  width="30" height="30" *ngIf="tarea.dificultad==2" />
            <img src="assets/images/muy_dificil.png" alt="Tarea con dificultad difícil"  width="30" height="30" *ngIf="tarea.dificultad==3" />
          </div>
          <div id="prioridad">
            <img src="assets/images/prioridad_muyBaja.png" alt="Tarea con prioridad muy baja"  width="30" height="30" *ngIf="tarea.prioridad==1" />
            <img src="assets/images/prioridad_baja.png" alt="Tarea con prioridad baja" width="30" height="30" *ngIf="tarea.prioridad==2" />
            <img src="assets/images/prioridad_media.png" alt="Tarea con prioridad media" width="30" height="30" *ngIf="tarea.prioridad==3" />
            <img src="assets/images/prioridad_alta.png" alt="Tarea con prioridad alta" width="30" height="30" *ngIf="tarea.prioridad==4" />
            <img src="assets/images/prioridad_muyAlta.png" alt="Tarea con prioridad muy alta" width="30" height="30" *ngIf="tarea.prioridad==5" />
          </div>
        </summary>



        <div class="mt-3">
          <div class="datos">
            <p>
              <span>
                <img src="assets/images/facil.png" alt="" width="30" height="30" *ngIf="tarea.dificultad==1" />
                <img src="assets/images/normal.png"alt="" width="30" height="30" *ngIf="tarea.dificultad==2" />
                <img src="assets/images/muy_dificil.png" alt="" width="30" height="30" *ngIf="tarea.dificultad==3" />
              </span>
              Dificultad: {{getDificultad()}}
            </p>
            <p>
              <span>
                <img src="assets/images/prioridad_muyBaja.png" alt="" width="30" height="30" *ngIf="tarea.prioridad==1" />
                <img src="assets/images/prioridad_baja.png" alt="" width="30" height="30" *ngIf="tarea.prioridad==2" />
                <img src="assets/images/prioridad_media.png" alt="" width="30" height="30" *ngIf="tarea.prioridad==3" />
                <img src="assets/images/prioridad_alta.png" alt="" width="30" height="30" *ngIf="tarea.prioridad==4" />
                <img src="assets/images/prioridad_muyAlta.png" alt="" width="30" height="30" *ngIf="tarea.prioridad==5" />
              </span>
              Prioridad: {{getPrioridad()}}

            </p>
          </div>
          <table class="nombres">
            <tr *ngFor="let u of tarea.usuarios">
              <td> <span class="circulo" aria-label="">{{getIniciales(u)}}</span></td>
              <td>{{u.nombre}} {{u.apellido}}</td>
            </tr>
          </table>
          <div class="descripcion">
            <p>{{tarea.descripcion}}</p>
          </div>

          <div class="botones">
            <button class="btn boton" aria-label="Editar tarea" (click)="cambiarEditando()">Editar tarea</button>
            <button class="btn boton" aria-label="Asignar tarea a usuario" (click)="cambiarAsignar()">Asignar usuario</button>
            <button class="btn boton eliminar" aria-label="Borrar tarea" (click)="borrarTarea()">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash"
                viewBox="0 0 16 16">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
              </svg>
              Eliminar tarea</button>
          </div>
        </div>

      </details>
    </ng-container>

    <ng-container *ngIf="asignando">
      <h4>{{tarea.nombre}}</h4>
      <div class="txt_field form-control mt-4">
        <input type="text" required aria-label="Buscar miembro por email" name="buscarMiembro" #buscar
          id="buscarMiembro" (keyup.enter)="buscarMiembro(buscar)">
        <span class="span"></span>
        <label for="buscarMiembro" class="control-label required">Email de
          usuario</label>
      </div>
      <button class="btn boton" type="button" id="searchUser" aria-label="Buscar usuario" (click)="buscarMiembro(buscar)">Buscar</button>

      <h5>Usuarios con tarea asignada</h5>
      <table class="table">
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Eliminar</th>
        </tr>
        <tr *ngIf="miembros.length == 0">
          <td colspan="3">No se le ha asignado la tarea a ningún usuario</td>
        </tr>
        <tr *ngFor="let m of miembros">
          <td>{{m.nombre}} {{m.apellido}}</td>
          <td>{{m.email}}</td>
          <td>
            <button type="button" class="btn boton eliminar" (click)="quitarMiembro(m)" aria-label="eliminar usuario">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-person-x-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z" />
              </svg>
            </button>
          </td>
        </tr>
      </table>
      <button type="button" class="btn boton " aria-label="Guardar cambios" (click)="asignarTarea()">Guardar cambios</button>
      <button type="button" class="btn boton eliminar" aria-label="Cancelar" (click)="cambiarAsignar()">Cancelar</button>
    </ng-container>


  </ng-template>

</div>