<app-cargando *ngIf="isCargando() || !hayProyecto()"></app-cargando>
<ng-container *ngIf="!isCargando() && hayProyecto()">
    <div class="container-fluid proyecto" *ngIf="!isChat()">
        <div class="cabecera row">
            <h1 class="col-12 col-md">{{proyecto.nombre}}</h1>
            <div class="miembros col">
                <p>Total de participantes: {{proyecto.usuarios.length}}</p>
                <div class="nombres">
                    <p *ngFor="let u of proyecto.usuarios"><span class="circulo">{{getIniciales(u)}}</span>{{u.nombre}} {{u.apellido}}</p>
                </div>
            </div>
        </div>



        <div class="botones row">
            <button class="btn boton col-12" data-bs-toggle="modal" data-bs-target="#addUsuario">Añadir usuario</button>
            <button class="btn boton col-12" data-bs-toggle="modal" data-bs-target="#moverTarea">Mover tarea</button>
            <button class="btn boton col-12" data-bs-toggle="modal" data-bs-target="#crearTarea">Crear tarea</button>
            <button class="btn boton botonChat col-12" (click)="mostrarChat()">Chat</button>
            <button *ngIf="!filtrando" class="btn boton col-12" (click)="filtrar()">Filtro</button>
            <button *ngIf="filtrando" class="btn boton col-12" (click)="filtrar()"><svg
                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                    <path fill-rule="evenodd"
                        d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
                </svg>
            </button>
        </div>
        <div class="container filtro">
            <div class="row" *ngIf="filtrando">
                <div class="form-check col-6 fil ">
                    <label class="form-check-label" for="prioridad_muyBaja">Prioridad muy baja</label>
                    <input class="form-check-input" type="checkbox" id="prioridad_muyBaja" value="1" #prioridadMuyBaja (click)="filtrarPrioridad(prioridadMuyBaja.value, $event)" checked/>
                </div>
                <div class="form-check col-6 fil">
                    <label class="form-check-label" for="prioridad_baja">Prioridad baja</label>
                    <input class="form-check-input" type="checkbox" id="prioridad_baja" value="2" #prioridadBaja (click)="filtrarPrioridad(prioridadBaja.value, $event)" checked />
                </div>
                <div class="form-check col-6 fil">
                    <label class="form-check-label" for="prioridad_media">Prioridad media</label>
                    <input class="form-check-input" type="checkbox" id="prioridad_media" value="3" #prioridadMedia (click)="filtrarPrioridad(prioridadMedia.value, $event)" checked/>
                </div>
                <div class="form-check col-6 fil">
                    <label class="form-check-label" for="prioridad_alta">Prioridad alta</label>
                    <input class="form-check-input" type="checkbox" id="prioridad_alta" value="4" #prioridadAlta (click)="filtrarPrioridad(prioridadAlta.value, $event)" checked />
                </div>
                <div class="form-check col-6 fil">
                    <label class="form-check-label" for="prioridad_muyAlta">Prioridad muy alta</label>
                    <input class="form-check-input" type="checkbox" id="prioridad_muyAlta" value="5" #prioridadMuyAlta (click)="filtrarPrioridad(prioridadMuyAlta.value, $event)" checked />
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 container">
                    <div class="listas row">

                        <app-lista (actualizar)="isActualizar($event)" class="col-sm-12 col-md-6 mt-2"
                            [proyecto]="proyecto" [lista]="lista" [filtro]="filtro" *ngFor="let lista of proyecto.listas"></app-lista>

                        <div class="col-sm-12 col-md-6 mt-2">

                            <div class="mt-2 lista ">
                                <h3>Nueva lista</h3>
                                <div class="txt_field form-control mt-4">
                                    <input type="text" (keyup.enter)="addLista(nombreNuevaLista.value); nombreNuevaLista.value=''" required aria-label="Introducir nombre de nueva lista"
                                        name="nombreNuevaLista" #nombreNuevaLista id="nombreNuevaLista">
                                    <span class="span"></span>
                                    <label for="nombreNuevaLista" class="control-label required">Nombre de lista</label>
                                </div>
                                <h4>Añadir lista</h4>
                                <div class="botonAdd">
                                    <svg (click)="addLista(nombreNuevaLista.value); nombreNuevaLista.value=''"
                                        role="button" class="btn" xmlns="http://www.w3.org/2000/svg" width="30"
                                        height="30" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                    </svg>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <app-chat [proyecto]="proyecto" class="col-lg-3  chat"></app-chat>
            </div>
        </div>
    </div>

    <div class="container-fluid mostrarChat" *ngIf="isChat()">
        <div class="botones">
            <button class="btn boton" (click)="noMostrarChat()">Volver al proyecto</button>
        </div>
        <app-chat [proyecto]="proyecto"></app-chat>
    </div>
</ng-container>

<!-- -------------------------MODALES--------------------------- -->

<!-- -------------------------MOVER TAREA ------------------------ -->
<div class="modal fade" id="moverTarea" tabindex="-1" aria-labelledby="moverTareaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moverTareaLabel">Mover tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form class="form-group">
                    <label for="original">¿En qué lista se encuentra la tarea?</label>
                    <select name="original" id="original" class="form-select" #original
                        (change)="getTareasListaMover(original.value, tareaId, nuevaListaId, boton)">
                        <option value="-1">Selecciona una lista</option>
                        <option *ngFor="let l of getListas()" value="{{l.id}}">{{l.nombre}}</option>
                    </select>
                    <label for="tareaId">¿Qué tarea quiere mover?</label>
                    <select name="tareaId" id="tareaid" class="form-select" #tareaId disabled
                        (change)="habilitarResto(tareaId.value, nuevaListaId, boton)">
                        <option value="-1">Selecciona una tarea</option>
                        <option *ngFor="let t of tareas" value="{{t.id}}">{{t.nombre}}</option>
                    </select>
                    <label for="nuevaListaId">¿A qué lista quiere mover la tarea?</label>
                    <select name="nuevaListaId" id="nuevaListaId" class="form-select" #nuevaListaId disabled
                        (change)="habilitarBoton(nuevaListaId.value, original.value, boton)">
                        <option value="-1">Selecciona una lista</option>
                        <option *ngFor="let r of getListas()" value="{{r.id}}">{{r.nombre}}</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" #boton (click)="moverTarea(tareaId.value, nuevaListaId.value, original.value)"
                    disabled class="btn boton" data-bs-dismiss="modal">Mover tarea</button>
            </div>
        </div>
    </div>
</div>




<!-- -------------------MODAL CREAR TAREA-------------------- -->
<div class="modal fade" id="crearTarea" tabindex="-1" aria-labelledby="crearTareaLabel" aria-hidden="true" #modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearTareaLabel">Crear tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="listaCrear">¿En qué lista quieres crear la tarea?</label>
                <select name="listaCrear" id="listaCrear" class="form-select" #listaCrear
                    (change)="habilitarCrear(listaCrear.value, nombreCrear, prioridadCrear, dificultadCrear, descripcionCrear, botonCrear)">
                    <option value="-1">Selecciona una lista</option>
                    <option *ngFor="let l of getListas()" value="{{l.id}}">{{l.nombre}}</option>
                </select>
                <div class="txt_field form-control mt-4">
                    <input type="text" required aria-label="Nombre de tarea" name="nombreCrear" #nombreCrear
                        id="nombreCrear" disabled>
                    <span class="span"></span>
                    <label for="nombreCrear" class="control-label required">Nombre de tarea</label>
                </div>
                <label for="prioridadCrear">Prioridad</label>
                <select name="prioridadCrear" id="prioridadCrear" class="form-select" #prioridadCrear disabled>
                    <option value="1">Muy baja</option>
                    <option value="2">Baja</option>
                    <option value="3">Normal</option>
                    <option value="4">Alta</option>
                    <option value="5">Muy alta</option>
                </select>
                <label for="dificultadCrear">Dificultad</label>
                <select name="dificultadCrear" id="dificultadCrear" class="form-select" #dificultadCrear disabled>
                    <option value="1">Fácil</option>
                    <option value="2">Normal</option>
                    <option value="3">Difícil</option>
                </select>
                <div class="txt_field form-control mt-4">
                    <textarea required aria-label="descripción de tarea" name="descripcionCrear" #descripcionCrear
                        id="descripcionCrear" disabled></textarea>
                    <span class="span"></span>
                    <label for="descripcionCrear" class="control-label required">Descripción de tarea</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" (click)="crearTarea(modal, listaCrear.value, nombreCrear.value, descripcionCrear.value, dificultadCrear.value, prioridadCrear.value)" class="btn boton" #botonCrear>Crear tarea</button>
            </div>
        </div>
    </div>
</div>


<!-- -------------------MODAL ADD USUARIO-------------------- -->
<div class="modal fade" id="addUsuario" tabindex="-1" aria-labelledby="addUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addUsuarioLabel">Añadir usuario al proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="txt_field form-control mt-4">
                <input type="text" required aria-label="Buscar miembro por email"
                    name="buscarMiembro" #buscar id="buscarMiembro"
                    (keyup.enter)="buscarMiembro(buscar)">
                <span class="span"></span>
                <label for="buscarMiembro" class="control-label required">Email de
                    usuario</label>
            </div>
            <button class="btn boton" type="button" id="searchUser" (click)="buscarMiembro(buscar)">Buscar</button>
        
        <h4>Miembros del proyecto</h4>
        <table class="table" *ngIf="hayProyecto()">
            <tr>
                <th>Nombre</th>
                <th>Email</th>
            </tr>
            <tr *ngIf="proyecto.usuarios.length == 0">
                <td colspan="3">No se ha añadido ningún miembro aún al proyecto</td>
            </tr>
            <tr *ngFor="let m of proyecto.usuarios">
                <td>{{m.nombre}} {{m.apellido}}</td>
                <td>{{m.email}}</td>
            </tr>
        </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn boton eliminar" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn boton" data-bs-dismiss="modal" (click)="addMiembro()">Guardar</button>
        </div>
      </div>
    </div>
  </div>