<app-cargando *ngIf="isCargando() || !hayProyecto()"></app-cargando>
<ng-container *ngIf="!isCargando() && hayProyecto()">
    <app-cabecera></app-cabecera>
    <div class="container-fluid proyecto" *ngIf="!isChat()">
        <div class="cabecera row">
            <h1 class="col-12 col-md">{{proyecto.nombre}}</h1>
            <div class="miembros col">
                <p>Total de participantes: {{proyecto.usuarios.length}}</p>
                <table class="nombres">
                    <tr *ngFor="let u of proyecto.usuarios">
                        <td aria-label=""> <span class="circulo">{{getIniciales(u)}}</span></td>
                        <td>{{u.nombre}} {{u.apellido}}</td>
                    </tr>
                </table>
            </div>
        </div>



        <div class="botones row">
            <button class="btn boton col-12" aria-label="Añadir usuario" data-bs-toggle="modal"
                data-bs-target="#addUsuario">Añadir usuario</button>
            <button class="btn boton col-12" aria-label="Mover tarea" data-bs-toggle="modal"
                data-bs-target="#moverTarea">Mover tarea</button>
            <button class="btn boton col-12" aria-label="Crear tarea" data-bs-toggle="modal"
                data-bs-target="#crearTarea">Crear tarea</button>
            <button class="btn boton botonChat col-12" aria-label="Mostrar chat de proyecto"
                (click)="mostrarChat()">Chat</button>
            <button *ngIf="!filtrando" class="btn boton col-12" aria-label="mostrar filtro"
                (click)="filtrar()">Filtro</button>
            <button *ngIf="filtrando" class="btn boton col-12" aria-label="Cerrar filtro" (click)="filtrar()"><svg
                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                    <path fill-rule="evenodd"
                        d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
                </svg> Cerrar filtro
            </button>
        </div>
        <div class="container filtro" *ngIf="filtrando">
            <div class="form-check col fil ">
                <label class="form-check-label" for="prioridad_muyBaja">
                    <span>
                        <img src="assets/images/prioridad_muyBaja.png" alt="" width="30" height="30" />
                    </span> Prioridad muy baja
                </label>
                <input class="form-check-input" type="checkbox" id="prioridad_muyBaja" value="1" #prioridadMuyBaja
                    (click)="filtrarPrioridad(prioridadMuyBaja.value, $event)" aria-label="filtrar por prioridad muy baja" checked />
            </div>
            <div class="form-check col fil">
                <label class="form-check-label" for="prioridad_baja">
                    <span>
                        <img src="assets/images/prioridad_baja.png" alt="" width="30" height="30" />
                    </span> Prioridad baja
                </label>
                <input class="form-check-input" type="checkbox" id="prioridad_baja" value="2" #prioridadBaja
                    (click)="filtrarPrioridad(prioridadBaja.value, $event)" aria-label="filtrar por prioridad baja" checked />
            </div>
            <div class="form-check col fil">
                <label class="form-check-label" for="prioridad_media">
                    <span>
                        <img src="assets/images/prioridad_media.png" alt="" width="30" height="30" />
                    </span> Prioridad media
                </label>
                <input class="form-check-input" type="checkbox" id="prioridad_media" value="3" #prioridadMedia
                    (click)="filtrarPrioridad(prioridadMedia.value, $event)" aria-label="filtrar por prioridad media" checked />
            </div>
            <div class="form-check col fil">
                <label class="form-check-label" for="prioridad_alta">
                    <span>
                        <img src="assets/images/prioridad_alta.png" alt="" width="30" height="30" />
                    </span> Prioridad alta
                </label>
                <input class="form-check-input" type="checkbox" id="prioridad_alta" value="4" #prioridadAlta
                    (click)="filtrarPrioridad(prioridadAlta.value, $event)" aria-label="filtrar por prioridad alta" checked />
            </div>
            <div class="form-check col fil">
                <label class="form-check-label" for="prioridad_muyAlta">
                    <span>
                        <img src="assets/images/prioridad_muyAlta.png" alt="" width="30" height="30" />
                    </span> Prioridad muy alta
                </label>
                <input class="form-check-input" type="checkbox" id="prioridad_muyAlta" value="5" #prioridadMuyAlta
                    (click)="filtrarPrioridad(prioridadMuyAlta.value, $event)" checked aria-label="filtrar por prioridad muy alta" />
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 container">
                    <div class="listas row">

                        <app-lista (actualizar)="isActualizar($event)" class="col-sm-12 col-md-6 mt-2"
                            [proyecto]="proyecto" [lista]="lista" [filtro]="filtro"
                            *ngFor="let lista of proyecto.listas"></app-lista>

                        <article class="col-sm-12 col-md-6 mt-2">

                            <div class="mt-2 lista tarjeta ">
                                <h3>Nueva lista</h3>
                                <div class="txt_field form-control mt-4">
                                    <input type="text"
                                        (keyup.enter)="addLista(nombreNuevaLista.value); nombreNuevaLista.value=''"
                                        required aria-label="Introducir nombre de nueva lista" name="nombreNuevaLista"
                                        #nombreNuevaLista id="nombreNuevaLista">
                                    <span class="span"></span>
                                    <label for="nombreNuevaLista" class="control-label required">Nombre de lista</label>
                                </div>
                                <h4>Añadir lista</h4>

                                
                                <button class="btn boton w-100" (click)="addLista(nombreNuevaLista.value); nombreNuevaLista.value=''" aria-label="Crear nueva lista">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                        class="bi bi-plus-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                    </svg>
                                </button>

                            </div>
                        </article>

                    </div>
                </div>
                <app-chat (actualizar)="isActualizar($event)" [proyecto]="proyecto" class="col-lg-3  chat"></app-chat>
            </div>
        </div>
    </div>

    <div class="container-fluid mostrarChat" *ngIf="isChat()">
        <div class="botones">
            <button class="btn boton" (click)="noMostrarChat()" aria-label="Volver al proyecto">Volver al
                proyecto</button>
        </div>
        <app-chat [proyecto]="proyecto"></app-chat>
    </div>
    <!-- -------------------------MODALES--------------------------- -->

    <!-- -------------------------MOVER TAREA ------------------------ -->
    <div class="modal fade" id="moverTarea" tabindex="-1" aria-labelledby="moverTareaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="moverTareaLabel">Mover tarea</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body">
                    <form class="form-group">
                        <label for="original">¿En qué lista se encuentra la tarea?
                            <span class='obligatorio'>*</span>
                            <span class='obligatorio error' *ngIf="errores && original.value == '-1'">CAMPO
                                OBLIGATORIO</span>
                        </label>
                        <select name="original" id="original" class="form-select mb-3"
                            aria-label="seleccionar lista en la que se encuentra la tarea" #original
                            (change)="getTareasListaMover(original.value, tareaId, nuevaListaId)">
                            <option value="-1">Selecciona una lista</option>
                            <option *ngFor="let l of getListas()" value="{{l.id}}">{{l.nombre}}</option>
                        </select>
                        <label for="tareaId">¿Qué tarea quiere mover?
                            <span class='obligatorio'>*</span>
                            <span class='obligatorio error' *ngIf="errores && tareaId.value == '-1'">CAMPO
                                OBLIGATORIO</span>
                        </label>
                        <select name="tareaId" id="tareaid" class="form-select mb-3" #tareaId disabled
                            (change)="habilitarResto(tareaId.value, nuevaListaId)" aria-label="seleccionar tarea">
                            <option value="-1">Selecciona una tarea</option>
                            <option *ngFor="let t of tareas" value="{{t.id}}">{{t.nombre}}</option>
                        </select>
                        <label for="nuevaListaId">¿A qué lista quiere mover la tarea?
                            <span class='obligatorio'>*</span>
                            <span class='obligatorio error'
                                *ngIf="errores && (nuevaListaId.value == '-1' || (original.value != '-1' && nuevaListaId.value==original.value))">CAMPO
                                OBLIGATORIO</span>
                        </label>
                        <select name="nuevaListaId" id="nuevaListaId" class="form-select mb-3" #nuevaListaId disabled
                            (change)="validarForm()" aria-label="seleccionar lista a la que se quiere mover la tarea">
                            <option value="-1">Selecciona una lista</option>
                            <option *ngFor="let r of getListas()" value="{{r.id}}">{{r.nombre}}</option>
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" #boton
                        *ngIf="original.value!='-1' && tareaId.value!='-1' && nuevaListaId.value!='-1' && nuevaListaId.value!=original.value"
                        (click)="moverTarea(tareaId.value, nuevaListaId.value, original.value)" class="btn boton"
                        data-bs-dismiss="modal" aria-label="Mover tarea">Mover tarea</button>
                    <button type="button" #boton
                        *ngIf="original.value=='-1' || tareaId.value=='-1' || nuevaListaId.value=='-1'"
                        (click)="crearErrores()" class="btn boton" aria-label="Mover tarea">Mover tarea</button>
                    <button type="button" #boton *ngIf="original.value != '-1' && nuevaListaId.value==original.value"
                        (click)="crearErroresListasIguales()" class="btn boton" aria-label="Mover tarea">Mover
                        tarea</button>
                </div>
            </div>
        </div>
    </div>


    <!-- -------------------MODAL CREAR TAREA-------------------- -->
    <div class="modal fade" id="crearTarea" tabindex="-1" aria-labelledby="crearTareaLabel" aria-hidden="true" #modal>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crearTareaLabel">Crear tarea</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="listaCrear">¿En qué lista quieres crear la tarea?
                            <span class='obligatorio'>*</span>
                            <span class='obligatorio error' *ngIf="errores && listaCrear.value == 'default'">CAMPO
                                OBLIGATORIO</span>
                        </label>
                        <select name="listaCrear" id="listaCrear" class="form-select mb-3" #listaCrear
                            aria-label="seleccionar lista en la que se quiere crear la tarea">
                            <option value="default">Selecciona una lista</option>
                            <option *ngFor="let l of getListas()" value="{{l.id}}">{{l.nombre}}</option>
                        </select>
                        <div class="txt_field form-control mt-4 mb-2">
                            <input type="text" required aria-label="Nombre de tarea" name="nombreCrear" #nombreCrear
                                id="nombreCrear" (keyup)="validarForm()">
                            <span class="span"></span>
                            <label for="nombreCrear" class="control-label required">Nombre de tarea
                                <span class='obligatorio'>*</span>
                                <span class='obligatorio error'
                                    *ngIf="errores && (nombreCrear.value.trim() == '' || nombreCrear.value.length<3)">CAMPO
                                    OBLIGATORIO</span>
                            </label>
                        </div>
                        <label for="prioridadCrear" class="mt-2">Prioridad</label>
                        <select name="prioridadCrear" id="prioridadCrear" class="form-select mb-2"
                            aria-label="seleccionar prioridad de tarea" #prioridadCrear>
                            <option value="1">Muy baja</option>
                            <option value="2">Baja</option>
                            <option value="3">Normal</option>
                            <option value="4">Alta</option>
                            <option value="5">Muy alta</option>
                        </select>
                        <label for="dificultadCrear" class="mt-2">Dificultad</label>
                        <select name="dificultadCrear" id="dificultadCrear" class="form-select mb-2"
                            aria-label="seleccionar dificultad de tarea" #dificultadCrear>
                            <option value="1">Fácil</option>
                            <option value="2">Normal</option>
                            <option value="3">Difícil</option>
                        </select>
                        <div class="txt_field form-control mt-4">
                            <textarea required aria-label="descripción de tarea" name="descripcionCrear"
                                #descripcionCrear id="descripcionCrear"></textarea>
                            <span class="span"></span>
                            <label for="descripcionCrear" class="control-label required">Descripción de tarea</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button data-bs-dismiss="modal" *ngIf="listaCrear.value!='default' && nombreCrear.value.trim()!=''"
                        type="button"
                        (click)="crearTarea(modal, listaCrear.value, nombreCrear.value, descripcionCrear.value, dificultadCrear.value, prioridadCrear.value)"
                        class="btn boton" #botonCrear aria-label="Crear tarea">Crear tarea</button>
                    <button *ngIf="listaCrear.value=='default' || nombreCrear.value.trim()==''" type="button"
                        class="btn boton" (click)="crearErrores()" aria-label="Crear tarea">Crear tarea</button>
                </div>
            </div>
        </div>
    </div>


    <!-- -------------------MODAL ADD USUARIO-------------------- -->
    <div class="modal fade" id="addUsuario" tabindex="-1" aria-labelledby="addUsuarioLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUsuarioLabel">Añadir usuario al proyecto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="txt_field form-control mt-4">
                        <input type="text" required aria-label="Buscar miembro por email" name="buscarMiembro" #buscar
                            id="buscarMiembro" (keyup.enter)="buscarMiembro(buscar)">
                        <span class="span"></span>
                        <label for="buscarMiembro" class="control-label required">Email de
                            usuario</label>
                    </div>
                    <button class="btn boton m-4" type="button" id="searchUser" (click)="buscarMiembro(buscar)"
                        aria-label="Buscar usuario">Buscar</button>

                    <h4>Miembros del proyecto</h4>
                    <table class="table my-4" *ngIf="hayProyecto()">
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                        </tr>
                        <tr *ngIf="miembros.length == 0">
                            <td colspan="3">No se ha añadido ningún miembro aún al proyecto</td>
                        </tr>
                        <tr *ngFor="let m of miembros">
                            <td>{{m.nombre}} {{m.apellido}}</td>
                            <td>{{m.email}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn boton eliminar" data-bs-dismiss="modal"
                        aria-label="Cancelar" (click)="cancelAddMiembro()">Cancelar</button>
                    <button type="button" class="btn boton" data-bs-dismiss="modal" (click)="addMiembro()"
                        aria-label="Guardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>