/*
    POSICIONAMIENTO Y TAMAÑO
*/

.botones {
    display: flex;
    justify-content: center;
    width: 90vw;
}



.mostrarChat > .botones > .boton {
    width:200px;
}

.miembros {

    position: relative;
}



h1 {
    width: 100%;
    text-align: center;
    font-variant: small-caps;
    margin-bottom: .5%;
    padding-bottom: 1%;
}

.nombres {
    font-size: 1.2rem;
    position:absolute;
    top:45px;
    z-index: 1000;
    padding: 1%;
    overflow-x: hidden;
    width: 350px;
}

.nombres span {
    margin:auto 10px;
}

li {
    list-style: none;
}


h1::first-letter, li::first-letter {
    text-transform: uppercase;
}

.filtro {
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.fil{
    text-align: start;
}

.miembros {
    display: flex;
    width: 100%;
    justify-content: center;
}

.miembro {
    margin: 1%;
}

.miembros p {
    margin-top: 20px;
}
.nombres {
    display: none;
}

.miembros p:hover ~ .nombres {
    display: block;
}



.botonAdd {
    width: 100%;
}

.botonAdd svg {
    margin-bottom: 2%;
    padding: 1.5%;
}

.lista {
    padding: 5%;
    width: 400px;
    margin-top: 10%;
    margin-bottom: 7.5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.chat {
    display: none;
}

 .proyecto {
    min-height: 100vh;
    height: 100%;
}



/******************************************************************************************
**************************************DESKTOP**********************************************
******************************************************************************************/
@media(min-width:1224px){
    .chat {
        display: block;
    }

    .botonChat {
        display: none;
    }

    .mostrarChat {
        display: none;
    }
}

/*
    BORDES
*/


.cabecera {
    border-bottom: 1px solid gray;
}

.nombres {
    border: 1px solid gray;
    border-radius: 5px;
}



.botonAdd svg {
    border-radius: 50%;
}

.lista {
    border-radius: 5px;
}

/*
    COLORES
*/



.nombres {
    background-color: rgb(128, 120, 120);
    color:white;
}



.botonAdd {
    color: white;
}

.botonAdd svg {
    background-color: black;
}

.botonAdd svg:hover {
    background-color: white;
    color: black;
    outline: 3px solid black;
    transition: all .3s;
}

.mostrarChat {
    color:black;
    background:linear-gradient(to bottom, rgba(165, 136, 219, 0.7), rgb(35, 34, 34));
    min-height: 100vh;
}
