.circulo {
    border-radius: 50%;
    background-color: #813bff;
    color:white;
    font-weight: bold;
    width: 35px;
    padding: 2%;
    text-align: center;
    height: 35px;
    border: 1px solid black;
    margin-bottom: 2%;
}

p {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    display:none;
}

.contenedor {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.contenedor:hover p {
    display: block;
}
