/*
    POSICIONAMIENTO Y TAMAÑO
*/

.contenedorNombre {
    padding: 0;
    width: 100%;
}

.chat {
    padding: 0 12px;
    width: 100%;
    height: 620px;
}

form {
    width: 100%;
    height: 100%;
}

.texto {
    position: relative;
}

.mensajes {
    height: 70%;
    width: calc(100% + 12px);
    margin: 0 -12px;
    padding: 15px;
    overflow-y: scroll;
    position: relative;
}

#sendmessage {
    height: 100%;
    width: 100%;
    position: relative;
    top: 10px;
    padding: 10px;
}

#sendmessage textarea {
    padding: 0;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    width: calc(100% - 45px);
    height: 80%;
    resize: none;
}

#sendmessage textarea:focus {
    outline: 0;
}

#sendmessage button {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 23px;
}

#sendmessage button:hover {
    cursor: pointer;
}

#sendmessage button:hover svg {
    width: 25px;
    height: 25px;
    transition: all .3s;
}

#sendmessage button:focus {
    outline: 0;
}

.mensaje {
    max-width: calc(100% - 40px);
    width: fit-content;
    margin: 15px 0;
}

.mio {
    margin-right: 0px;
    margin-left: auto;
}


.mio .nombre {
    display: none;
}

.mio .fecha_hora {
    text-align: right;
}

.nombre {
    margin: 10px;
    font-weight: bold;
}

.msg {
    margin: 10px;
    max-width: 90%;
    word-wrap: break-word;
}

.fecha_hora {
    font-size: .75rem;
    font-style: italic;
    margin: 10px;
}

/******************************************************************************************
***************************************TABLET**********************************************
******************************************************************************************/
@media(min-width:640px) {
    .mensaje {
        max-width: calc(100% - 100px);
    }
}

/******************************************************************************************
**************************************DESKTOP**********************************************
******************************************************************************************/
@media(min-width:1224px) {
    .mensaje {
        max-width: calc(100% - 40px);
    }
}

/*
    BORDES
*/

.contenedorNombre {
    border-radius: 7px 7px 0 0;
}

.chat {
    border-radius: 7px;
    border: 2px solid black;
}

.mensajes {
    border-bottom: 5px solid gray;
}

#sendmessage {
    border-top: 1px solid #e7ebee;
    border: 5px solid gray;
    border-radius: 15px;
}

#sendmessage textarea {
    border: none;
    border-right: 3px solid rgb(73, 72, 72);
}

#sendmessage button {
    border: none;
}

.mensaje {
    border: 1px solid white;
}

.mio {
    border-radius: 25px 25px 0px 25px;
}

.otros {
    border-radius: 25px 25px 25px 0px;
}

/*
    COLORES
*/

.chat {
    background: rgba(255, 255, 255, 0.7);
}

.contenedorNombre {
    background-color: rgba(129, 59, 255, 1);
    color: white;
    border-bottom: 2px solid black;
    padding: 15px 10px;
}

.mensajes {
    background: rgba(255, 255, 255, 0.7)
}

#sendmessage {
    background: #fff;
}

#sendmessage textarea {
    background: #fff;
    color: black;
}

#sendmessage button {
    background-color: #fff;
}


.mio {
    background-color: rgb(138, 190, 207);
}

.otros {
    background-color: rgb(212, 181, 240);
}