/*
    POSICIONAMIENTO Y TAMAÑO
*/

.tarjeta {
    height: auto;
    position: relative;
    padding: 5%;
    max-width: 400px;
    min-width: 300px;
}

.tarea {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.tarea .boton svg {
    padding: 2%;
    margin-bottom: 2%;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 200px;
    top: 40px;
    right: 20px;
    z-index: 1;
}

.dropdown-content button {
    text-align: left;
    transition: background-color 1s;
}

.dropdown-content button:hover {
    font-weight: bolder;
}

.dropdown:hover .dropdown-content {
    display:block;
}

.txt_field {
    position: relative;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 28px;
    font-size: 16px;
    outline: none;
}

.txt_field textarea {
    width: 100%;
    padding: 0 5px;
    height: 100px;
    font-size: 16px;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 60%;
    left: 5px;
    transform: translateY(-70%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field .span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 0;
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label,
.txt_field textarea:focus~label,
.txt_field textarea:valid~label {
    top: -5px;
}

.txt_field input:focus~.span::before,
.txt_field input:valid~.span::before,
.txt_field textarea:focus~.span::before,
.txt_field textarea:valid~.span::before {
    width: 100%;
}

.guardar, .cancelar {
    margin: 1%;
}

#nombre {
    text-transform:lowercase;
    font-variant: small-caps;
}

#nombre::first-letter {
    text-transform: uppercase;
}

.tarjeta {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
}


/*
    BORDES
*/

.tarjeta {
    border: 2px solid gray;
    border-radius: 5px;
}

.tarea {
    border: 1px solid black;
    border-radius: 15px;
}

.tarea .boton svg {
    border-radius: 50%;
}

.dropdown-content {
    border-radius: 15px 0px 15px 15px;
}

.dropdown-content button {
    border-radius: 0px 0px 15px 15px;
    border: 3px solid black;
}

.dropdown-content button:first-child {
    border-radius: 15px 0px 0px 0px;
    border-width: 3px 3px 0px 3px;
}

.txt_field input {
    border: none;
}

.txt_field textarea {
    border: none;
}

.guardar, .cancelar {
    border: 1px solid gray;
}

/*
    COLORES
*/

.tarea .boton svg {
    background-color: black;
    color: transparent;
}

.dropdown-content {
    background-color: rgb(98, 94, 94);
    color:white;
}

.dropdown-content button {
    color:white;
}

.dropdown-content button:hover {
    background-color: #c0abe5;
    color:black;
}

.txt_field input {
    background: none;
}

.txt_field textarea {
    background: none;
}

.txt_field .span::before {
    background: grey;
}

.tarjeta {    
    background: rgba(123, 117, 117, 0.6);
    color:white;
}

