<header>
  <nav class="navbar">
    <a href="#" routerLink="/inicio" id="logo_enlace" *ngIf="isLoggedIn"><img src="assets/images/logo.png"
        class="logo" alt="Logo de Worher. Ir a página de inicio."></a>
    <a href="#" routerLink="/login" id="logo_enlace" *ngIf="!isLoggedIn"><img src="assets/images/logo.png"
        class="logo" alt="Logo de Worher. Ir a página de login."></a>
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" aria-label="Menú">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list"
        viewBox="0 0 16 16" >
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </label>
    <ul class="menu" *ngIf="!isLoggedIn">
      <li><a href="#" routerLinkActive="active" routerLink="/registro" aria-label="Ir a registro">Registro</a></li>
      <li><a href="#" routerLinkActive="active" routerLink="/login" aria-label="Ir a login">Login</a></li>
      <li><a href="#" routerLink="/ayuda" routerLinkActive="active" aria-label="ir a Ayuda">Ayuda</a></li>
    </ul>
    <ul class="menu" *ngIf="isLoggedIn">
      <li><a href="#" routerLink="/inicio" routerLinkActive="active" aria-label="ir a Mis proyectos">Mis proyectos</a></li>
      <li><a href="#" routerLink="/ayuda" routerLinkActive="active" aria-label="ir a Ayuda">Ayuda</a></li>
      <li><a href="#" routerLinkActive="active" (click)="logout()" aria-label="Cerrar sesión">Cerrar sesión</a></li>
    </ul>
  </nav>
</header>