<header>
  <nav class="navbar">
      <a href="#" routerLink="inicio" id="logo_enlace"><img src="assets/images/logo.png" class="logo"></a>
      <input type="checkbox" id="menu-bar">
      <label for="menu-bar">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </label>
      <ul class="menu">
          <li><a href="#" routerLink="inicio" routerLinkActive="active">Mis proyectos</a></li>
          <li><a href="#" routerLinkActive="active">Cerrar sesión</a></li>
      </ul>
  </nav>        
</header>
